$first_color: #2e2520; // Основной цвет текста
$second_color: #876655; // Навигация в мобильном меню при активном состоянии
$button_color: #ab816c; // Заливка кнопок
$first_font: "Montserrat", sans-serif; //Основной шрифт ( навигация, статьи и т.д)
$style_font: "Caveat Brush", cursive;
$bgd-color: #e5e5e5; // Основной цвет фона
